*{
    padding: 0px;
    margin: 0px;
}
.about{
    margin: 10px;
    padding: 10px;
    background-color: rgb(247, 218, 223);
    display: flex;
    align-items: center;
    flex-direction: row;
}
.about h1{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
.about p{
    margin-left: 50px;
    margin-top: 10px;
    color: #999;
}
.about img{
    margin-right: 50px;
     width: 500px;
     height:300px; 
     border-radius: 20px;
}



/* -------------------------------------------------------------------------------------second part----------------- */

.delivery{
    margin-top: 100px;
    display: flex;
    align-items: center;
}
.delivery h1{
    /* text-align: center; */
    font-size: 3rem;
    font-weight: bold;
    margin-left: 150px;
}

.delivery p{
    margin-top: 15px;
    margin-left: 150px;
    /* font-weight:inherit; */
    font-family:garamond,serif;
    color: #999;
  
}
.delivery img{
    border-radius: 10px;
    width: 500px;
    margin-left: 50px;
}
.contents{
    width: 700px;
}
.contents h2{
    margin-left: 147px;
}
.contents i{
    margin-right: 10px;
    color: red;
    padding-top: 10px;
    
}

/* -------------------------------3rd part---------------------------- */
.mission{
    display: flex;
    height: 300px;
}
.content{
    margin-left: 115px;
    /* margin-right: 171px; */
    width: 1112px;
}
.mission h1{
    margin-top: 199px;
    /* align-items: center; */
    text-align: left;
    margin-left: -5px;
    font-size: 40px;
    
}
.content p{
    margin-top: 10px;
    margin-right: 128px;
    color: #999;
}
 .reg{
     margin-top: 25px;
        width: 120px;
        margin-left: -7px;
        padding: 10px;
        background-color:rgb(255, 100, 100);
        border-radius: 30px;
        color: white;
        cursor: pointer;
 }

.context{
    margin-top: 115px;
    margin-right: 60px;
    background-color: rgb(253, 218, 223);
    height: 443px;
    width: 786px;
    border-radius: 20px;
    text-align: center;
}
.context h2{
    margin-top: 50px;
}
.context p{
    margin-top: 10px;
    text-align: center;
    color: #999;
}
.context i{
   color: red; 
}
/* ------------------------------4th part------------------------- */
.sec{
    margin-top: 400px;
}
.hed{
    font-size: 40px;
}
.sec h1{
    font-weight: bold;
    font-size: 30px;
    margin-left: 100px;
    width: 350px;
}
.fullfill{
        display: flex;
}
.fullfill img{
    margin-top: 30px;
    margin-left: 100px;
    border-radius: 20px;
}

.download h1{
    margin-bottom: 56px;
    margin-left: 143px;
    border-bottom:2px solid rgb(243, 14, 14) ;
    

}
.download h1 i{
    color: red;
}
/* ---------------------5part---------------------------- */
.container{
    width: 30px;
    margin-top: 140px;
    display: flex;
}
.useimg{
    margin-left: 137px;
}
.useimg img{
    width: 466px;
    border-radius: 20px;
}
.usecon{
    margin-left: -51px;
    text-align: left;
}
.usecon h1{
    width: 424px;
    margin-left: 124px;
    font-size: 2.5rem;
}
.usecon p{
    width: 424px;
    margin-top: 15px;
    margin-left: 124px;
    color: #999;
}
.usecon img{
    margin-left: 147px;
    width: 60px;
    height: 60px;
    margin-top: 30px;
    border-radius: 10px;
}
.usecon h2{
    margin-top: -66px;
    position: absolute;
    margin-left: 230px;
}
.usecon .p {
    margin-top: -32px;
    position: absolute;
    margin-left: 230px;
}
.fonts{
    display: flex;
}
.fonts{
    cursor: pointer;
    margin-top: 30px;
    margin-left: 155px;
}
.fonts h1{
    margin-top: -5px;
    font-size: 20px;
    cursor: pointer;
}
/* ---------------------------6th part------------------------------------------ */
.app{
    margin-top: 150px;
    display: flex;
    align-items: center;
}
.app h1{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    width: 569px;
    margin-left: 46px;
}
.app p{
    margin-left: 90px;
    margin-top: 35px;
    /* margin-left: 50px;
    margin-top: 10px; */
    color: #999;
    margin-right: 100px;
}
.app h2{
    margin-left: 100px;
    margin-top: 10px;
    font-size: 2rem;
}

.app img{
    margin-right: 165px;
    width: 320px;
    height: 700px;
     border-radius: 20px;
}
 .getit{
    display: flex;
} 
.playstore{
    border: 2px solid black;
    margin-left: 92px;
    width: 192px;
    height: 43px;
    background-color: black;
    border-radius: 12px;
    margin-top: 14px;
   
}
 .playstore h5{

    margin-left: 43px;
    font-size: 22px;
    color: white;
  
}
.playstore p{
    margin-left: 46px;
    margin-top: -36px;
    font-size: 12px;
    color: white;
} 
.playstore i{
    margin-left: 0px;
    margin-top: 5px;
    font-size: 35px;
    color: chartreuse;
}
.getit .now{
    border: 2px solid black;
    margin-left: 92px;
    width: 192px;
    height: 43px;
    background-color: black;
    border-radius: 12px;
    margin-top: 14px;
}
.getit .now h5{
    margin-left: 39px;
    font-size: 22px;
    color: white;
}
  .getit .now p{
    margin-top: -39px;
    margin-left: 40px;
   
    font-size: 12px;
    color:white;
}
.getit .now i{
    margin-left: 0px;
    margin-top: -1px;
    font-size: 39px;
    color:white
}


/* -----------------------------restaurent page---------------------- */
.resabout{
    background-color: rgb(247, 218, 223);
    display: flex;
    align-items: center;
}
.resabout h1{
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
}
.resabout p{
    margin-left: 50px;
    margin-top: 10px;
    color: #999;
    width: 470px;
}
.resabout img{
    margin-left: 307px;
    /* margin-right: 50px; */
     width: 500px;
     height:300px; 
     border-radius: 20px;
}
/* ----------------------------search bar----------------------------- */
.find{
    margin-top: 50px;
    text-align: center;
    width: 940px;
}
.find h1{
    margin-left: 332px;
    font-size: 2.5rem;
}
.find p{
    margin-left: 345px;
    margin-top: 10px;
    color: #999;
}
.some input{
    margin-top: 27px;
    margin-left: -157px;
    width: 700px;
    padding: 15px;
    border: 2px solid #999;
    position: absolute;
    border-radius: 60px;
}

.somefont i{
      border-radius: 35px;
    font-size: 24px;
    margin-left: 470px;
    margin-top: 38px;
    position: absolute;
    color: red;
    border: none;
    cursor: pointer;
}
/* --------------------------------recomend restaurent---------------------------- */
.recom h1{
    margin-top: 200px;
    margin-left: 130px;
    font-size: 4rem;
}
.innerbox{
    margin-top: 60px;
        display: flex;
}
.innerbox2{
    display: flex;
}
.innerbox3{
    display: flex;
}
.box1{
    height: 430px;
    margin-left: 130px;
    /* border: 2px solid black; */
    width: 284px;
    margin-top: 35px;
    border-radius: 25px;
    
}
.box1 img{
    border-radius: 30px;
    width: 100%;
    height: 286px;
}
.box1 h2{
    margin-top: 15px;
    text-align: center;
}

.box1 p{
    text-align: center;
    color: #999;
    margin-top: 10px;
}
.box1 button{
    border: none;
    border-radius: 20px;
    width: 85px;
    background-color: rgb(255, 95, 122);
    padding: 10px;
    color: white;
    margin-top: 2px;
    cursor: pointer;
}
 .refont{
     display: flex;
     margin-left: 122px;
     margin-top: -25px;
}
.refont i{
    color: goldenrod;
}
.refont p{
    font-size: 19px;
    margin-top: -3px;
    margin-left: 9px;
}
/* --------------------------service page--------------------------------- */


.ourser h1{
    margin-top: 0px;
    text-align: center;
    font-size: 2rem;
}
.innerser{
    margin-top: 10px;
        display: flex;
}
.ser1{
    margin-left: 153px;
    width: 255px;
    height: 160px;
    margin-top: 30px;
}
.ser1 img{
    align-items: center;
    margin-left: 72px;
}
.ser1 h2{
    margin-top: 5px;
    text-align: center;
    
}
.ser1 p{
    margin-top: 10px;
    text-align: center;
    color: #999;
}
.innerser2{
    margin-top: 20px;
    display: flex;
}
/* -----------------------------------2ndpart------------------------------ */
.ourhead{
    margin-top: 210px;
        display: flex;
}
.ourhead #h5{
    margin-left: 40px;
    width: 241px;
    background-color: rgb(250, 217, 222);
    border-radius: 15px;
    text-align: center;
    height: 21px;
    cursor: pointer;
    color: red;
}

.ourhead h1{
font-size: 3rem;
    margin-top: 85px;
    margin-left: -200px;
}
.ourhead p{
    width: 635px;
    margin-left: 12px;
    margin-top: 85px;
    color: #999;
}
.best{
    display: flex;
}
.best1{
    margin-left: 153px;
    width: 255px;
    height: 160px;
    margin-top: 30px;
}
.best1 img{
    align-items: center;
    margin-left: 13px;
}
.best1 h2{
    margin-top: -5px;
    text-align: center;
    
}
.best1 p{
    margin-top: 10px;
    text-align: center;
    color: #999;
}
.wait{
    display: flex;
    margin-top: 205px;
    margin-left: 100px;
}
.waittemp{
    width: 600px;
    /* border: 2px solid; */
    margin-left: 80px;
}

.waittemp h1{
    margin-top: 160px;
    text-align: center;
    font-size: 3rem;
}
.waittemp p{
    margin-top: 40px;

}
.waittemp img{
    margin-left: 85px;
    margin-top: 20px;
}
/* ----------------------------3rdpart------------------------- */
.question{
    display: flex;
    margin-top: 130px;
}
.ques1{
    margin-top: 101px;
    width: 828px;
    /* border: 2px solid black; */
    margin-left: 130px;
}
.ques1 h1{
    font-size: 3rem;
}
.ques1 h2{
    font-size: 2rem;
    border-bottom: 2px solid gray;
    margin-top: 55px;
}
.quesimg{
    width: 700px;
    margin-left: 218px;
}
/* -----------------------------------contact page-------------------------  */
.conabout{
    margin: 10px;
    padding: 20px;
    background-color: rgb(247, 218, 223);
    display: flex;
   justify-content: center;
    flex-direction: row;
}
.conabout h1{
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
}
.conabout p{
    margin-left: 50px;
    margin-top: 10px;
    color: #999;
    width: 470px;
}
.conabout img{
    margin-left: 307px;
    /* margin-right: 50px; */
     width: 500px;
     height:300px; 
     border-radius: 20px;
    }
    /* ---------------------------form----------------------- */
    .conform{
        border-radius: 40px;
        background-color: rgb(255, 213, 220);
    margin-top: 150px;
    width: 69%;
    height: 505px;
    /* border: 2px solid black; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
}
.conform h1{
text-align: center;
}
.form{
    /* margin-left: 61px; */
    margin-right: 75px;
    margin-top: 60px;
}
.form input{
    width: 230px;
    padding: 15px;
    margin-left: 100px;
    border-radius: 35px;
    border: none;
    outline: none;
}
.form1{
    /* margin-left: 61px; */
    margin-right: 75px;
    margin-top: 37px;

}
.form1 input{
    width: 230px;
    padding: 15px;
    margin-left: 100px;
    border-radius: 35px;
    border: none;
    outline: none;
}
.conform .conmessege{
    margin-left: 108px;
    margin-right: 75px;
    margin-top: 40px;
}
.conmessege input{
    width: 523px;
    padding: 60px;

    border-radius: 40px;
    border: none;
    outline: none;
}
.conform .btnform{
    margin-top: 35px;
    padding: 17px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: rgb(247, 115, 115);
    color: white;
    cursor: pointer;
}
/* ---------------------------office---------------------- */
.office{
    display: flex;
    margin-top: 90px;
}


.office .officetemp img{
    margin-left: 307px;
}
.office .officetemp h1{
    margin-top: 70px;
    margin-left: 250px;
    font-size: 3rem;
}

.location{
    width: 80%;
    margin: auto;
    padding-top: 80px ;
}
.location iframe{
    width: 100%;
}